@font-face {
    font-family: 'Maskdown';
    src: url('fonts/Maskdown.ttf') format('truetype');
    src: url('fonts/Maskdown.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    height: 100%;
    background-color: rgb(0, 0, 0);

  }
  h1 
  {
    
    text-align: center;
    font-size: 100;
    font-family: 'Maskdown';

    text-shadow: 
    -1px -1px 0 rgb(255, 255, 255),  
     1px -1px 0 rgb(255, 255, 255),
    -1px  1px 0 rgb(255, 255, 255),
     1px  1px 0 rgb(255, 255, 255); /* Create outline effect */

    color: #000000;
  }
  
  p {
    font-size: 20;
    text-align: center;
    color: #e9dfdf;
  }

  